@import "~normalize.css";
@import "./roboto.css";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 1em;
  background-color: #fff;
  border: 1px solid red;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  background-image: url("../assets/webpack-logo.png");
  background-size: cover;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
